html, body {
    overflow-x: hidden;
    margin: Opx;
}

body {
    background-color: #fff6d4;
}

p {
    text-align: justify;
}

.wrapper {
    margin: 0 auto;
    max-width: 920px;
    padding: 20px;
}

h2 {
    color: #ff8c11;
}

hr {
    border: 1px dotted;
    margin: 30px 0px 30px 0px;
}

.container, .noflex{
    border: 1px solid;
    width: 100%;
    height: auto;
    background-image: url(../assets/bcg.jpg);
}

.container {
    display: flex;
}

.element {
    height: 150px;
    width: 150px;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element:nth-child(1) {
    background-color: #324d5c;
}

.element:nth-child(2) {
    background-color: #46b19c;
}

.element:nth-child(3) {
    background-color: #f0ca4d;
}

pre {
    background-color: #272822;
    color: white;
    border-radius: 5px;
    padding: 15px 15px 0px 15px;
    overflow-x: scroll;
}

.language-css {
    border-left: 1rem solid #008cba;
}

.language-html {
    border-left: 1rem solid #f25e23;
}

span.yellow {
    color: #f0ca4d;
}

span.blue {
    color: #008cba;
}

span.red {
    color: #f25e23;
}

span.lightblue {
    color: #6fc1ff;
}

.separator {
    width: 100%;
    height: 50px;;
}

.flexdir-row-rev {
    flex-direction: row-reverse;
}

.flexdir-col-rev {
    flex-direction: column-reverse;
}

.flwrap {
    flex-wrap: wrap;
}

.flwraprev {
    flex-wrap: wrap-reverse;
}

.space-btwn {
    justify-content: space-between;
}

.align-item {
    height: 400px;
    align-items: center;
}

span.comment {
    color: #4e4e4e;
}

.justif-center {
    justify-content: center;
}

.element-2 {
    align-self: flex-start;
}

.element-3 {
    order: -1;
}

.element-1 {
    flex: 1;
}